/*style sheet*/
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700&display=swap');


.blog-section {
    margin: 90px 0 40px 0;
}

.blog-section h2{
    text-align: center;
    margin-bottom: 20px;
}

.blog-section .container-blog{
    margin: 0 auto; 
    width: 95%;
}

.container-blog .article {
    height: 380px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container-blog .recent {
    background-image: url(../images/b1.png);
}


.container-blog .recent2 {
    background-image: url(../images/b2.png);
}

.container-blog .recent3 {
    background-image: url(../images/b3.png);
}

.container-blog .recent, .recent2, .recent3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}



.article .recent-date {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    background-color: #fff;
    width: 50px;
    margin: 20px;
    text-align: center;
}


.container-blog .increase {
    font-size: 25px;
}



.recent-text {
    font-family: 'Poppins', sans-serif;
    transition: 0.3s;
}
.recent-text a {
    font-family: 'Dosis';
}
.read-more-link {
    margin-top: 10px;
}
.recent-text a:hover {
    color: #c59400;
}

.recent-text a::after {
    content: "";
    border: 1px solid #000;
    display: inline-block;
    width: 40px;
    vertical-align: middle;
    margin: 10px;
}

/*=== MOBILE VIEW ===*/
@media (max-width:599px){
    .blog-section .container-blog {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
}

/*=== TABLET VIEW ===*/
@media (max-width:899px) and (min-width:600px) {
    .blog-section .container-blog {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 35px;
    }
}

/*=== DESKTOP VIEW ===*/
@media (min-width:900px){
    .blog-section .container-blog {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 35px;
    }
}